@import "valuess.scss";
main {
  max-width: 1200px;
  margin: 32px auto;
  padding: 16px;

  .tours-list {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .tour-card {
      display: flex;
      align-items: flex-start; 
      background: $white;
      border-radius: 16px;
      padding: 24px;
      box-shadow: 0 2px 15px $black;
      transition: transform 0.2s;

      &:hover {
        transform: translateY(-5px);
      }

      h1 {
        flex: 0 0 150px; 
        font-size: 28px;
        margin: 0;
        color: $blue;
        text-align: right;
        font-family: $zag;
      }

      .tour-image-container {
        position: relative;
        width: 300px;
        height: 200px;
        flex-shrink: 0; 
        overflow: hidden;
        border-radius: 12px;
        box-shadow: 0 4px 12px $black;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }

        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5); 
          display: flex;
          justify-content: center;
          align-items: center;
          opacity: 0; 
          transition: opacity 0.3s ease;
        }

        &:hover {
          .overlay {
            opacity: 1; 
          }
          img {
            transform: scale(1.1);
          }
        }
      }

      .tour-info {
        flex: 1; 
        p{
          font-family: $arrial;
        }
        h2 {
          font-family: $zag;
          color: $blue;
          margin-top: 0;
        }
        
        h3 {
          font-family: $zag;
          color: $blue;
          border-bottom: 1px solid $white;
          padding-bottom: 5px;
        }
      }
    }
  }
}

.booking-button {
  padding: 12px 24px;
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

// Адаптив
@media (max-width: 480px) {
  main .tours-list .tour-card {
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      flex: none;
      text-align: center;
    }

    .tour-image-container {
      width: 100%;
      max-width: 400px;
    }
  }
}