$blue:rgb(133,200,229);
$white:rgb(255,255,255);
$black:rgb(0,0,0);
$active:rgb(125, 7, 36);
$arrial: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$zag: 'Comic Sans MS', 'Comic Sans', cursive, Arial, cursive;
